@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6eff5;
}
.card-title {
  font-weight: 700;
  line-height: 2;
}
.container {
  font-family: 'Karla', sans-serif;
  width: 45rem !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  text-align: left;
  .grid-top {
    padding: 2rem 3rem;
    background-color: #ffffff;
    border-radius: 1rem 1rem 0 0;
    color: hsl(218, 22%, 67%);
    h3 {
      color: #2cb2b1;
    }
    h4 {
      color: #bedf31;
    }
  }
  .grid-left {
    padding: 2rem 3rem;
    background-color: #2cb2b1;
    border-radius: 0 0 0 1rem;
    color: #ffffff;
    .price {
      font-size: 2rem;
      font-weight: 700;
      display: flex;
      align-items: center;
    }
    .per-month{
      font-size: 1rem;
      margin-left: 1rem;
      color: #e6eff5;
      opacity: 0.5;
      text-align: center;
    }
    .sign-up-btn {
      background-color: #bedf31;
      margin-top: 1rem;
      color: #ffffff;
      width: 100%;
      height: 3rem;
      border: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
  }
  .grid-right {
    padding: 2rem 3rem;
    background-color: #49bebd;
    border-radius: 0 0 1rem 0;
    h4 {
      color: #ffffff;
    }
    ul {
      color: #ffffff;
      opacity: 0.6;
      list-style-type: none;
      padding-left: 0;
    }
  }
}